Repository juanoa/justtasks, changes with the labels that .github/labeler.yml gives for each.
All labels: api, web, app, github, docker, package_updated

Update README.md
  README.md
  docker/mongo-entrypoint/mongo-init.js
Labels: docker

Update package json
  packages/api/package.json
  packages/app/package.json
  packages/web/package.json
Labels: api, web, app, package_updated

Update initial users
  docker/mongo-entrypoint/mongo-init.js
Labels: docker

Update README
  README.md
Labels: none

Error
  packages/app/src/components/ui/navbar.js
Labels: app

Error
  packages/app/src/components/ui/navbar.js
Labels: app

Error
  packages/app/src/components/ui/navbar.js
Labels: app

Solve error
  packages/app/src/components/ui/navbar.js
Labels: app

Finishg migration
  .github/workflows/deploy-gcp.yml
Labels: github

.github/labeler.yml:

api:
  - packages/api/*
  - packages/api/**/*
web:
  - packages/web/*
  - packages/web/**/*
app:
  - packages/app/*
  - packages/app/**/*
github:
  - .github/*
  - .github/**/*
docker:
  - docker-compose.yml
  - docker/*
  - docker/**/*
package_updated:
  - package.json
  - packages/**/package.json
